<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <!-- <link rel="stylesheet" href="/path/to/your/custom.css"> -->
    <title>Profile Page</title>
</head>

<body>
    <div class="container">
        <h1>Hi <%= name %>
        </h1>
        <a href="/register">Register</a>
        <a href="/login">Login</a>
    </div>

    <script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <!-- <script src="/path/to/your/custom.js"></script> -->
</body>

</html>