<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <!-- <link rel="stylesheet" href="/path/to/your/custom.css"> -->
    <title>Profile Page</title>
</head>

<body>
    <div class="container">
        <h1>Hi i am profile</h1>
        <button id="logoutBtn">Logout</button></li>
    </div>

    <script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <!-- <script src="/path/to/your/custom.js"></script> -->
    <script>
        document.getElementById('logoutBtn').addEventListener('click', function () {
            // Send a GET request to the logout route on button click
            fetch('/logout', {
                method: 'GET',
            })
                .then((response) => {
                    // Redirect to the login page after successful logout
                    if (response.redirected) {
                        window.location.href = response.url;
                    }
                })
                .catch((error) => {
                    console.error('Logout error:', error);
                });
        });
    </script>
</body>
</html>


