body{
    background: linear-gradient(45deg, #000850 0%, #000320 100%), radial-gradient(100% 225% at 100% 0%, #FF6928 0%, #000000 100%), linear-gradient(225deg, #FF7A00 0%, #000000 100%), linear-gradient(135deg, #CDFFEB 10%, #CDFFEB 35%, #009F9D 35%, #009F9D 60%, #07456F 60%, #07456F 67%, #0F0A3C 67%, #0F0A3C 100%);
    background-blend-mode: screen, overlay, hard-light, normal;
}
.logo{
    font-family: 'Angkor', cursive;
}
#submit-btn{
    width: 100%;
    background-color: #E80000;
    transition: 0.4s;
    font-size: 1.1rem;
    color: #fff !important;
    letter-spacing: 1.1px;
}
#submit-btn:hover {
    color: #000 !important;
    background-color: #FFD700 !important;
}
.display{
    background-color: #cac6c6;
}

.password{
    width: 90%;
}

.togglePassword{
    cursor: pointer;
}

.emoji{
    /* transition: 5s; */
}
input, button, .message, .display{
    /* box-shadow: 2px 2px 2px #000; */
    box-shadow: 2px 2px 6px #00000066;
}
.message{
    font-family: 'Roboto Condensed', sans-serif;
}
@media (max-width: 768px) {
    .navbar {
        position: static !important; 
    }
  }